.contentBlock{
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 50px 250px;
    justify-content: center; 
}

.contentBlock img{
    width: 300px;
    height: 300px;
    grid-column: 1;
    grid-row: 1;
}

.contentBlock h2{
    grid-column: 2;
    grid-row: 1;
    margin: auto 0px;
    text-align: center;
    font-size: 30px;
}

.contentBlock section{
    grid-column: 2;
    grid-row: 2;
}

.contentBlock p{
    margin: 0px 10px;
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 835px) {
    .contentBlock{
        grid-template-columns: 500px;
    }

    .contentBlock h2{
        grid-column: 1;
        grid-row: 1;
    }
    
    .contentBlock section{
        grid-column: 1;
        grid-row: 2;
    }

    .contentBlock img{
        display: none;
    }
}

@media screen and (max-width: 524px) {
    .contentBlock{
        grid-template-columns: 300px;
        grid-template-rows: 50px 450px;
    }

    .contentBlock p{
        text-align: center;
    }
}
