---
import "../styles/global.css";
import { siteInfo } from "../content.json";
import BaseBody from "../layouts/baseBody.astro";
import BaseHead from "../layouts/baseHead.astro";
import PageLayout from "../layouts/pageLayout.astro";
import Banner from "../components/Banner.astro";
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead
		title={"Error 404 | " + siteInfo.title}
		metaDescription={"The page you are looking for on " +
			siteInfo.title +
			" was not found."}
	/>

	<BaseBody>
		<PageLayout>
			<Banner />
			<div class="bg-black p-4">
				<h1 class="text-center font-bold text-3xl underline pb-4">
					Error 404: Not Found
				</h1>
			</div>
		</PageLayout>
	</BaseBody>
</html>
