---
import "../styles/global.css";
import { siteInfo } from "../content.json";
import BaseBody from "../components/baseBody.astro";
import BaseHead from "../components/baseHead.astro";
import PageLayout from "../layouts/pageLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead
		title={"Error 404 | " + siteInfo.title}
		metaDescription={"The page you are looking for on " +
			siteInfo.title +
			" was not found."}
	/>

	<BaseBody>
		<PageLayout>
			<div
				class="banner mt-17 flex justify-center items-center bg-cover bg-no-repeat bg-center"
				style=`background-image: url(${import.meta.env.BASE_URL}images/banner.webp); height: 500px;`
			>
				<img
					src=`${import.meta.env.BASE_URL}images/siteLogo.svg`
					alt="Page logo."
					width="800"
					height="270"
					class="bg-black rounded"
				/>
			</div>
		</PageLayout>
	</BaseBody>
</html>
