---
import "../styles/global.css";
import { siteInfo, event } from "../content.json";
import BaseBody from "../components/baseBody.astro";
import BaseHead from "../components/baseHead.astro";
import PageLayout from "../layouts/pageLayout.astro";
import Banner from "../components/Banner.svelte";
---

<!DOCTYPE html>
<html>
	<BaseHead
		title={"Event | " + siteInfo.title}
		metaDescription={event.metaDescription}
	/>

	<BaseBody>
		<PageLayout>
			<Banner
				title="Event Details"
				description={event.description}
				client:load
			/>

			<div class="md:flex md:w-screen my-4">
				<div class="md:w-1/2 mx-4">
					<h2 class="text-center font-bold text-2xl underline mb-2">
						Theme
					</h2>
					<p class="text-center">
						{event.theme}
					</p>
				</div>
				<div class="md:w-1/2 mx-4">
					<h2 class="text-center font-bold text-2xl underline mb-2">
						Date & Time
					</h2>
					<p class="text-center">
						{event.date}
					</p>
				</div>
			</div>

			<div class="flex flex-col m-4">
				<h2 class="text-center font-bold text-2xl underline mb-2">Location</h2>
				<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.2872785596055!2d26.14211287565254!3d44.529750095300365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b21d456c0b18cb%3A0x6cc1920e1563e4d7!2sAISB%20SCHOOL!5e0!3m2!1sen!2sro!4v1684070993347!5m2!1sen!2sro"
						width="288"
						height="288"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
						class="mb-3 bg-white mx-auto"
					></iframe>
			</div>
		</PageLayout>
	</BaseBody>
</html>
