---
import "../styles/global.css";
import { siteInfo, speakers } from "../content.json";
import BaseBody from "../components/baseBody.astro";
import BaseHead from "../components/baseHead.astro";
import PageLayout from "../layouts/pageLayout.astro";
import Banner from "../components/Banner.svelte";
---

<!DOCTYPE html>
<html>
	<BaseHead
		title={"Speakers | " + siteInfo.title}
		metaDescription={speakers.metaDescription}
	/>

	<BaseBody>
		<PageLayout>
			<Banner
				title="Speakers"
				description={speakers.description}
				client:load
			/>

			<div class="m-4 bg-tedRed">
				<h2 class="text-center font-bold text-4xl underline mb-2">
					To Be Determined
				</h2>
				<p
					class="mx-5 text-justify md:w-1/2 md:mx-auto xl:w-1/3 2xl:w-1/4"
				>
					This year's speakers have yet to be determined. You can stay
					up to date on our social media, to be the first to know when
					they are announced.
				</p>
			</div>
		</PageLayout>
	</BaseBody>
</html>
