---
import "../styles/global.css";
import { siteInfo, sponsors } from "../content.json";
import BaseBody from "../components/baseBody.astro";
import BaseHead from "../components/baseHead.astro";
import PageLayout from "../layouts/pageLayout.astro";
import Banner from "../components/Banner.svelte";
---

<!DOCTYPE html>
<html>
	<BaseHead
		title={"Sponsors | " + siteInfo.title}
		metaDescription={sponsors.metaDescription}
	/>

	<BaseBody>
		<PageLayout>
			<Banner
				title="Sponsors"
				description={sponsors.description}
				client:load
			/>

			<div class="m-4 bg-tedRed">
				<h2 class="text-center font-bold text-4xl underline mb-2">
					None at the Moment
				</h2>
				<p
					class="mx-5 text-justify md:w-1/2 md:mx-auto xl:w-1/3 2xl:w-1/4"
				>
					This year's event has no sponsors at the moment, we'll
					update this page when or if that changes.
				</p>
			</div>
		</PageLayout>
	</BaseBody>
</html>
