---
import "../styles/baseBody.css";
---

<body class="font-sans m-0 p-0 bg-zinc-800 text-white h-full">
	<div id="app">
		<slot />
	</div>

	<div
		id="screenSizeError"
		class="bg-zinc-600 text-slate-50 m-3 p-1 text-center rounded-lg"
	>
		<h1 class="mb-1 underline text-2xl">Your Screen is too Small!</h1>
		<p class="text-sm">
			Your screen is too small to display this website. Please come back
			on a device with a width of at least 320px.
		</p>
	</div>
</body>
