---
import { legal } from "../content.json";
---

<footer class="bg-black py-4">
	<p class="text-center m-2 mb-8">
		This independent TEDx event is operated under license from TED.
	</p>

	<ul class="md:grid md:grid-cols-2 md:gap-4 md:mx-4">
		<li class="grid auto-rows-auto gap-1 m-4">
			<h2 class="text-center text-3xl font-bold">Privacy Policy</h2>
			<p class="text-justify">
				{legal.privacy_policy}
			</p>
		</li>

		<li class="grid auto-rows-auto gap-1 m-4">
			<h2 class="text-center text-3xl font-bold">Copyright</h2>
			<p class="text-justify">
				{legal.copyright}
			</p>
		</li>
	</ul>
</footer>
