/*main content block css*/
.contentBlock{
    all: revert;
    margin: 0px;
    padding: 0px;
}

.contentBlock img{
    max-width: 350px;
    max-height: 350px;
    border: 10px solid black;
}

.contentBlock h3{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 40px;
}

.contentBlock p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
