/*main body style*/
body{
    margin: 0;
}

/*header styles*/
header{
    margin: 0;
    background-color: black;
    color: white;
}

/*site title styles*/
#siteTitle{
    margin: 0;
    padding: 0;
    list-style: none;
}

#siteTitle li{
    display: inline-block;
}

/*nav bar styles*/
header nav{
    margin: 0;
    padding: 0;
}

header nav ul{

}

header nav ul li{

}

#navDropdownMenu{

}